
<body>

    <form  id ="productoForm">
        <br>
    </br>

        <div>
            <label>Producto:</label>
            <input type="text" name="title" id="producto"/>
        </div>
    <br>
    </br>

        <div>
            <label>Precio:</label>
            <input type="number" name="price" id="precio"/>
        </div>
        <br>
    </br>

        <div>
            <label>Thumbnail:</label>
            <input type="text" name="thumbnail" id="thumbnail"/>
        </div>
        <br>
    </br>

        <input type="submit" value="Agregar"></input>
    </form>

</body>
